body {
  background-color: hsl(185, 75%, 39%);
  font-size: 18px;
  font-family: 'Kumbh Sans', sans-serif;
  overflow: hidden;
}

.c1 {
  background-image: url('./images/bg-pattern-top.svg');
  background-position: right bottom;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 40%;
  right: 55%;
  z-index: -1;
}

.c2 {
  background-image: url('./images/bg-pattern-bottom.svg');
  background-position: left top;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 55%;
  z-index: -1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.profile-card {
  width: 450px;
  height: 400px;
  background-color: #ffffff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 52px -13px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 52px -13px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 52px -13px rgba(0, 0, 0, 0.35);
}

.card-header-img {
  background-image: url(../images/bg-pattern-card.svg);
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.bigbox {
  width: 100%;
  text-align: center;
}

.topbigbox {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
}

.topbigbox img {
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 5px solid #ffffff;
  margin-top: -55px;
}

.topbigbox p {
  color: hsl(229, 23%, 23%);
  font-weight: 700;
}

.topbigbox span {
  font-weight: 400;
  color: hsl(0, 0%, 59%);
}

.city {
  font-size: 15px;
}

.botbigbox {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
}

.botbigbox div {
  color: hsl(229, 23%, 23%);
  font-weight: 700;
}

.botbigbox span {
  font-weight: 400;
  color: hsl(0, 0%, 59%);
  font-size: 11px;
  letter-spacing: 3px;
}
